
BubbleParticipantListItem[layoutOption="collapsed"] {
    layout:collapsed;
}

BubbleParticipantListItem[layoutOption="expanded"] {
    layout:expanded;
}

BubbleParticipantListItem::icon {
    fixed-width: var(hb-param-graphic-size-primary-medium);
    fixed-height: var(hb-param-graphic-size-primary-medium);
}

BubbleParticipantListItem::ciphering {
    fixed-width: 2.0un;
    fixed-height: 2.0un;
    left: (hb-param-margin-gene-middle-horizontal);
    top: (hb-param-margin-gene-middle-vertical);
    color: var(qtc_list_item_title_normal);   
}

BubbleParticipantListItem::expand-indi {
    fixed-width: var(hb-param-graphic-size-primary-small);
    fixed-height: var(hb-param-graphic-size-primary-small);
    right: var(hb-param-margin-gene-middle-horizontal);
}

BubbleParticipantListItem::text
{
    text-height: var(hb-param-text-height-primary);
	  font-variant: primary;
	  color: var(qtc_list_item_title_normal);
	  left: var(hb-param-margin-gene-middle-horizontal);
	  right: var(hb-param-margin-gene-middle-horizontal);
}

BubbleParticipantListItem::button-1 {
    fixed-height: 9.0un;
}

BubbleParticipantListItem::button-2 {
    fixed-height: 9.0un;
}
