

BubbleHeadingWidget[layoutOption="three_lines"]
{
    layout: three_lines_layout;
}

BubbleHeadingWidget[layoutOption="two_lines"]
{
    layout: two_lines_layout;
}

BubbleHeadingWidget[layoutOption="one_line"]
{
    layout: one_line_layout;
}

BubbleHeadingWidget:text_line_1
{
    text-height: var(hb-param-text-height-primary);
    left: -var(hb-param-margin-gene-middle-horizontal);
    color: var(qtc_list_item_title_normal);
    text-line-count-min:1;
    text-line-count-max:1;    
}

BubbleHeadingWidget:text_line_2[layoutOption!="one_line"]
{
    text-height: var(hb-param-text-height-primary);
    pref-width: -1;
    left: -var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
    text-align: left;
    color: var(qtc_list_item_title_normal);
    text-line-count-min:1;
    text-line-count-max:1;
    size-policy-horizontal: expanding;
}

BubbleHeadingWidget:text_line_2[layoutOption="one_line"]
{
    text-height: var(hb-param-text-height-primary);
    pref-width: 35un; /* not in spec yet, fixed value needed for localisation */
    left: -var(hb-param-margin-gene-middle-horizontal);
    text-align: right;
    color: var(qtc_list_item_title_normal);
    text-line-count-min:1;
    text-line-count-max:1;
    size-policy-horizontal: fixed;    
}

BubbleHeadingWidget:text_line_3
{
    text-height: var(hb-param-text-height-primary);
    left: -var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
    color: var(qtc_list_item_title_normal);
    text-line-count-min:1;
    text-line-count-max:1;
}

BubbleHeadingWidget:status_icon
{
    fixed-width:   var(hb-param-graphic-size-primary-large);
    fixed-height:  var(hb-param-graphic-size-primary-large);
}

BubbleHeadingWidget:number_type_icon
{
    fixed-height: var(hb-param-graphic-size-secondary);
    fixed-width:  var(hb-param-graphic-size-secondary);
    color: var(qtc_list_item_title_normal);
}

BubbleHeadingWidget:ciphering_icon
{
    fixed-height: 2.5un;
    fixed-width:  2.5un;
    color: var(qtc_list_item_title_normal);
}
