

BubbleHeadingWidget[layoutOption="three_lines"]
{
    layout: three_lines_layout;
}

BubbleHeadingWidget[layoutOption="two_lines"]
{
    layout: two_lines_layout;
}

BubbleHeadingWidget[layoutOption="one_line"]
{
    layout: one_line_layout;
}

BubbleHeadingWidget:text_line_1
{
    preferred-height: var(hb-param-text-height-primary);
    left: -var(hb-param-margin-gene-middle-horizontal);
}

BubbleHeadingWidget:text_line_2[layoutOption!="one_line"]
{
    preferred-height: var(hb-param-text-height-primary);
    preferred-width: -1;
    left: -var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
    text-align: left;
}

BubbleHeadingWidget:text_line_2[layoutOption="one_line"]
{
    preferred-height: var(hb-param-text-height-primary);
    preferred-width: 30un;
    left: -var(hb-param-margin-gene-middle-horizontal);
    text-align: right;
}

BubbleHeadingWidget:text_line_3
{
    preferred-height: var(hb-param-text-height-primary);
    left: -var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
}

BubbleHeadingWidget:status_icon
{
    fixed-width:   var(hb-param-graphic-size-primary-large);
    fixed-height:  var(hb-param-graphic-size-primary-large);
}

BubbleHeadingWidget:number_type_icon
{
    fixed-height: var(hb-param-graphic-size-secondary);
    fixed-width:  var(hb-param-graphic-size-secondary);
}

BubbleHeadingWidget:ciphering_icon
{
    fixed-height: 2.5un;
    fixed-width:  2.5un;
}
